
.name-des{
    color: #ffffff;
}
#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}
.section-content p{
    font-size: 20px;
    line-height: 2.0;
    text-align: left;
}

.folded-corner:hover .text{
	visibility: visible;
	color: #000000;;
}

/*
  nav link items
*/
.folded-corner{
    padding: 25px 25px;
    position: relative;
    font-size: 90%;
    text-decoration: none;
    color: #999; 
    background: transparent;
    transition: all ease .5s;
    border: 1px solid #45489a;
  }
  .folded-corner:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  /*
  paper fold corner
*/

.folded-corner:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0px 0px 0;
    border-color: #ddd #000;
    transition: all ease .3s;
  }

  .folded-corner p{
      font-size: 13px;
      line-height: 2.0;
      text-align: center;
  }
  
  /*
    on li hover make paper fold larger
  */
  .folded-corner:hover:before {
      background-color: #D00003;
    border-width: 0 50px 50px 0;
    border-color: #eee #000;
    
  }

  .item-title{
      font-weight: bold;
  }

.pck-dlst p{
    text-align: left;
}

.scrollbar
{
    text-align: left;
    margin-bottom: 40px;
    height: 200px;
    overflow: scroll;
    overflow-x: hidden;
}

.force-overflow
{
	min-height: 50px;
}
/*
 *  STYLE 2
 */

 #style-2::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar
 {
     width: 12px;
     background-color: #F5F5F5;
 }
 
 #style-2::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
     background-color: #45489a;
 }
 
  .is-skill-icon{
      height: 50px;
  }

  .give-space{
      margin-top:25px;
  }

  .pro-showcase{
    border-radius: 10px;
    cursor: pointer;
  }

  .pro-showcase:hover{
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }

 .view-detail p{
    text-align:left;
    font-size: 16px;
}

.hand{
  cursor: pointer;
}

.footer-social-ioons .social-icons{
  font-size: 100px;
}

.footer-social-ioons .social-icons a{
  padding-left: 100x;
  padding-right: 100px;
}

  /* rating cricles */
  span[class^=circle] {
    background:white;
    border-radius:100%;
    display:inline-block;
    height:8px;
    width:8px;
    overflow:hidden;
    position:relative;
}
span[class^=circle]:after {
    content:'';
    position:absolute;
    display:block;
    height:100%;
    left:0;
    background-color: #45489a;
}
span.circle25:after {
    width:100%;
}
span.circle50:after {
    width:100%;
}
span.circle75:after {
    width:100%;
}
span.circle100:after {
    width:100%;
}

